/.lsp/
/.clj-kondo/.cache/*
/.cpcache
/target
/classes
/checkouts
*.jar
*.class
/.calva/output-window/
/.idea
*.iml
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
.dir-locals.el
/test-results
